.product-comment-live-chat {
    text-align: left !important;
}
.product-comment-live-chat textarea {
    height: 50px!important;
    min-height: 50px!important;
    width: 400px;
    margin-left: 10px;
}
.product-comment-live-chat #newProductComment {
    padding: 5px;
    background-color: #efefef;
}

.product-comment-live-chat input {
    padding: 5px;
    margin-left: 3px;
}

.product-comment-live-chat #commentBox { width: 10%; }

.product-comment-live-chat .comment {
    padding: 3px;
    font-weight: bold;
    border-top: 1px solid #efefef;
    margin-top: 5px;
}


.product-comment-live-chat .reply-list { padding-left: 10px; }



.product-comment-live-chat .reply-item { }

.product-comment-live-chat .reply-item-username {
    padding: 3px;
    font-style: italic;
    text-decoration: underline;
    color: #bbb;
}


.product-comment-live-chat .reply-item-comment { padding-left: 5px; }


.product-comment-live-chat .reply-box { width: 10%; }